*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
/app/build/

# Go files
/vendor/
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.cgo1.go
*.cgo2.c

# Android specific
*.jks
*.keystore
local.properties
